  body {
    padding-top: 70px;
    margin:0;
  }

#navbar {
/*  height: 91px;*/
  color: black;
  background: #454745;
  font-family: ;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
  top: 0; /* Position the navbar at the top of the page */
  left:0;
  margin: 0px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
}

#yellow-vamp-logo {
  height: 80px;
  padding: 10px;
}

#navbar.scrolled {
  background: linear-gradient(to bottom, #454745 0%, rgba(0,0,0,0) 100%) !important;
  transition: background-color 200ms linear;
}

.navbar-item {
  padding: 10px;
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 18px;
  text-decoration: none;
  border: yellow;
}

.navbar-item:hover {
  text-decoration: underline white;
}

.banner {
  background-image: url("../images/VampFINALlogo.png");
  background-size: cover !important;
  display: block;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 20px;
/*  background-attachment: fixed;
*/}

.dropdown {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: "Arial";
}
.dropdown-button {
  font-family: 'Pathway Gothic One', sans-serif;
  background: black;
  min-width: 100px;
  color: white;
  letter-spacing: 0.025rem;
  box-sizing: border-box;
  padding: 10px 30px 10px 20px;
  position: relative;
  cursor: pointer;
  transition: background .3s ease;
  margin: 10px;
}
.dropdown-button:hover {
  background: #4a4747;
  transition: background .3s ease;
}
.triangle {
  font-size: 50%;
  position: absolute;
  right: 10px;
  top: -2px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 5px;
  color: #fff;
}

.dropdown ul {
  visibility: hidden;
  padding: 0;
  list-style: none;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.2);
  position: absolute;
  left: 0;
  margin-top: 2px;
  top: 100%;
  min-width: 90%;
  color: white;
}
.dropdown li {
  background: #9383FF;
  padding: 8px 10px 8px 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background .2s ease;
  border-bottom: white;
}

.dropdown li a {
  color: white;
  text-decoration: none;
}

.dropdown a:hover {
  color: black;
}

.dropdown li:hover {
  background: #858585;
  color: black;
  transition: background .2s ease;
}

.info-box {
  visibility: hidden;
  opacity: 0.0;
  background-color: #262626;
  margin: 30px;
  padding: 50px;
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 27px;
  line-height: 30pt;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-contact {
  font-family: 'Pathway Gothic One', sans-serif;
  color: white;
  background-color: #00FF6E;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.footer-contact:hover {
  background-color: #2F6763;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
