body {
  margin: 0;
}

#mix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

#mixes-container {
  background-image: url("../images/pawel-czerwinski-kNx8H8ScHDk-unsplash.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
}

#vamp-sonic-mixes {
  font-family: Anton, sans-serif;
  font-size: 40px;
  margin-top: 40px;
  color: #454745;
}

.mix {
  opacity: 0;
  font-family: Anton, sans-serif;
  padding: 30px;
  font-size: 15px;
  border-width: medium;
  border-style: solid;
  border-color: #EEF50D;
  margin: 10px;
  color: #EEF50D;
  text-decoration: none;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

.mix.visible {
  opacity: 1;
}

.mix.visible:hover {
  border-right: none;
  border-left: none;
}

.artist-link {
  text-decoration: none; color:#EEF50D;
}

.artist-link:hover {
  color: white;
}

.mix-title {
  font-family: Anton, sans-serif;
  font-size: 50px;
  padding: 30px;
}

.mix-description {
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  line-height: 170%;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  top: 350px;
  left: 100px;
  text-align: justify;
  padding: 100px;
  color: white;
}

#sow-banner {
  background-image: url("../images/mixsowbackground.png");
  background-size: cover !important;
  display: block;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0;
  margin-bottom: 30px;
}

#mala-herba-banner {
  background-image: url("../images/Mala-Herba-background.png");
  background-size: cover !important;
  display: block;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  margin-bottom: 20px;
}

#pholl-throttle-banner {
  background-image: url("../images/pholl-throttle-background.png");
  background-size: cover !important;
  display: block;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

#noma-t-banner {
  background-image: url("../images/Noma-T Artist Banner.png");
  background-size: cover !important;
  display: block;
  max-width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

#mala-herba-mix-description {
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 170%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
}

#pholl-mix-description {
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 170%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
}

a.listen {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

a.listen:hover {
  color: red;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2em;
  margin-left: 50px;
  margin-right: 50px;
  border-style: inset;
  border-width: 1px;
  color: red;
}

.image-mix {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #454745;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 100px;
  color: white;
  font-family: Anton, sans-serif;
  font-size: 20px;
  border-style: ;
}

.discovery-column {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.discover-title {
  text-decoration: underline;
}

.discover-links {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.discover-links a {
  text-decoration: none;
  font-weight: lighter;
  color: white;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.discover-links a:hover {
  color: #747c74;
}

.embedded-link {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
}
