#mixes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
}

.embedded-link {
  margin: 50px;
}

.mix-title {
  font-family: Anton, sans-serif;
  font-size: 50px;
}

.mix-description {
  font-family: 'Montserrat', sans-serif;
  line-height: 170%;
}
